@import "./pit-theme";

:root {
  --main-header-height: 82px;
  --main-footer-height: 150px;
}

html body {
  text-rendering: optimizeLegibility;
  position: relative;
  margin-bottom: 150px;
}

[data-hidden] {
  display: none;
}

.main-content {
  min-height: calc(
    100vh - var(--main-header-height) - var(--main-footer-height)
  );
}

.pit-article-layout {
  width: 680px;
  margin: 0px auto;

  letter-spacing: -0.003em;
  line-height: 32px;
  word-break: break-word;
  overflow-wrap: break-word;
}
