/**
 * Theme: default
 */
 :root {
    --font-family: system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu",
      "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
    --line-height: 1.5;
    --font-weight: 400;
    --font-size: 16px;
    --border-radius: 0.25rem;
    --border-width: 1px;
    --outline-width: 3px;
    --spacing: 0.5rem;
    --typography-spacing-vertical: 1.5rem;
    --block-spacing-vertical: calc(var(--spacing) * 2);
    --block-spacing-horizontal: var(--spacing);
    --grid-spacing-vertical: 0;
    --grid-spacing-horizontal: var(--spacing);
    --form-element-spacing-vertical: 0.75rem;
    --form-element-spacing-horizontal: 1rem;
    --nav-element-spacing-vertical: 1rem;
    --nav-element-spacing-horizontal: 0.5rem;
    --nav-link-spacing-vertical: 0.5rem;
    --nav-link-spacing-horizontal: 0.5rem;
    --form-label-font-weight: var(--font-weight);
    --transition: 0.2s ease-in-out;
    --modal-overlay-backdrop-filter: blur(0.25rem);
    
  }

  @media (min-width: 576px) {
    :root {
      --font-size: 17px;
    }
  }
  @media (min-width: 768px) {
    :root {
      --font-size: 18px;
    }
  }
  @media (min-width: 992px) {
    :root {
      --font-size: 19px;
    }
  }
  @media (min-width: 1200px) {
    :root {
      --font-size: 20px;
    }
  }
  
  @media (min-width: 576px) {
    body > header,
    body > main,
    body > footer,
    section {
      --block-spacing-vertical: calc(var(--spacing) * 2.5);
    }
  }
  @media (min-width: 768px) {
    body > header,
    body > main,
    body > footer,
    section {
      --block-spacing-vertical: calc(var(--spacing) * 3);
    }
  }
  @media (min-width: 992px) {
    body > header,
    body > main,
    body > footer,
    section {
      --block-spacing-vertical: calc(var(--spacing) * 3.5);
    }
  }
  @media (min-width: 1200px) {
    body > header,
    body > main,
    body > footer,
    section {
      --block-spacing-vertical: calc(var(--spacing) * 4);
    }
  }
  
  @media (min-width: 576px) {
    article {
      --block-spacing-horizontal: calc(var(--spacing) * 1.25);
    }
  }
  @media (min-width: 768px) {
    article {
      --block-spacing-horizontal: calc(var(--spacing) * 1.5);
    }
  }
  @media (min-width: 992px) {
    article {
      --block-spacing-horizontal: calc(var(--spacing) * 1.75);
    }
  }
  @media (min-width: 1200px) {
    article {
      --block-spacing-horizontal: calc(var(--spacing) * 2);
    }
  }
  
  dialog > article {
    --block-spacing-vertical: calc(var(--spacing) * 2);
    --block-spacing-horizontal: var(--spacing);
  }
  @media (min-width: 576px) {
    dialog > article {
      --block-spacing-vertical: calc(var(--spacing) * 2.5);
      --block-spacing-horizontal: calc(var(--spacing) * 1.25);
    }
  }
  @media (min-width: 768px) {
    dialog > article {
      --block-spacing-vertical: calc(var(--spacing) * 3);
      --block-spacing-horizontal: calc(var(--spacing) * 1.5);
    }
  }
  
  a {
    --text-decoration: none;
  }
  a.secondary, a.contrast {
    --text-decoration: underline;
  }
  
  small {
    --font-size: 0.875em;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    --font-weight: 700;
  }
  
  h1 {
    --font-size: 2rem;
    --typography-spacing-vertical: 3rem;
  }
  
  h2 {
    --font-size: 1.75rem;
    --typography-spacing-vertical: 2.625rem;
  }
  
  h3 {
    --font-size: 1.5rem;
    --typography-spacing-vertical: 2.25rem;
  }
  
  h4 {
    --font-size: 1.25rem;
    --typography-spacing-vertical: 1.874rem;
  }
  
  h5 {
    --font-size: 1.125rem;
    --typography-spacing-vertical: 1.6875rem;
  }
  
  [type=checkbox],
  [type=radio] {
    --border-width: 2px;
  }
  
  [type=checkbox][role=switch] {
    --border-width: 3px;
  }
  
  thead th,
  thead td,
  tfoot th,
  tfoot td {
    --border-width: 3px;
  }
  
  :not(thead, tfoot) > * > td {
    --font-size: 0.875em;
  }
  
  pre,
  code,
  kbd,
  samp {
    --font-family: "Menlo", "Consolas", "Roboto Mono", "Ubuntu Monospace",
      "Noto Mono", "Oxygen Mono", "Liberation Mono", monospace,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  
  kbd {
    --font-weight: bolder;
  }
  
  [data-theme=light],
  :root:not([data-theme=dark]) {
    --background-color: #fff;
    --color: hsl(210, 14%, 95%);
    --h1-color: hsl(205, 30%, 15%);
    --h2-color: #24333e;
    --h3-color: hsl(205, 25%, 23%);
    --h4-color: #374956;
    --h5-color: hsl(205, 20%, 32%);
    --h6-color: #4d606d;
    --muted-color: hsl(205, 10%, 50%);
    --muted-border-color: hsl(205, 20%, 94%);
    --primary: hsl(195, 85%, 41%);
    --primary-hover: hsl(195, 90%, 32%);
    --primary-focus: rgba(16, 149, 193, 0.125);
    --primary-inverse: #fff;
    --secondary: hsl(205, 15%, 41%);
    --secondary-hover: hsl(205, 20%, 32%);
    --secondary-focus: rgba(89, 107, 120, 0.125);
    --secondary-inverse: #fff;
    --contrast: hsl(205, 30%, 15%);
    --contrast-hover: #000;
    --contrast-focus: rgba(89, 107, 120, 0.125);
    --contrast-inverse: #fff;
    --mark-background-color: #fff2ca;
    --mark-color: #543a26;
    --ins-color: #388e3c;
    --del-color: #c62828;
    --blockquote-border-color: var(--muted-border-color);
    --blockquote-footer-color: var(--muted-color);
    --button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --form-element-background-color: transparent;
    --form-element-border-color: hsl(205, 14%, 68%);
    --form-element-color: var(--color);
    --form-element-placeholder-color: var(--muted-color);
    --form-element-active-background-color: transparent;
    --form-element-active-border-color: var(--primary);
    --form-element-focus-color: var(--primary-focus);
    --form-element-disabled-background-color: hsl(205, 18%, 86%);
    --form-element-disabled-border-color: hsl(205, 14%, 68%);
    --form-element-disabled-opacity: 0.5;
    --form-element-invalid-border-color: #c62828;
    --form-element-invalid-active-border-color: #d32f2f;
    --form-element-invalid-focus-color: rgba(211, 47, 47, 0.125);
    --form-element-valid-border-color: #388e3c;
    --form-element-valid-active-border-color: #43a047;
    --form-element-valid-focus-color: rgba(67, 160, 71, 0.125);
    --switch-background-color: hsl(205, 16%, 77%);
    --switch-color: var(--primary-inverse);
    --switch-checked-background-color: var(--primary);
    --range-border-color: hsl(205, 18%, 86%);
    --range-active-border-color: hsl(205, 16%, 77%);
    --range-thumb-border-color: var(--background-color);
    --range-thumb-color: var(--secondary);
    --range-thumb-hover-color: var(--secondary-hover);
    --range-thumb-active-color: var(--primary);
    --table-border-color: var(--muted-border-color);
    --table-row-stripped-background-color: #f6f8f9;
    --code-background-color: hsl(205, 20%, 94%);
    --code-color: var(--muted-color);
    --code-kbd-background-color: var(--contrast);
    --code-kbd-color: var(--contrast-inverse);
    --code-tag-color: hsl(330, 40%, 50%);
    --code-property-color: hsl(185, 40%, 40%);
    --code-value-color: hsl(40, 20%, 50%);
    --code-comment-color: hsl(205, 14%, 68%);
    --accordion-border-color: var(--muted-border-color);
    --accordion-close-summary-color: var(--color);
    --accordion-open-summary-color: var(--muted-color);
    --card-background-color: var(--background-color);
    --card-border-color: var(--muted-border-color);
    --card-sectionning-background-color: #fbfbfc;
    --dropdown-background-color: #fbfbfc;
    --dropdown-border-color: #e1e6eb;
    --dropdown-box-shadow: none;
    --dropdown-color: var(--color);
    --dropdown-hover-background-color: hsl(205, 20%, 94%);
    --modal-overlay-background-color: rgba(213, 220, 226, 0.7);
    --progress-background-color: hsl(205, 18%, 86%);
    --progress-color: var(--primary);
    --loading-spinner-opacity: 0.5;
    --tooltip-background-color: var(--contrast);
    --tooltip-color: var(--contrast-inverse);
    color-scheme: light;
  }
  
  @media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
      --background-color: #11191f;
      --color: #D1D1D1;
      --h1-color: hsl(205, 20%, 94%);
      --h2-color: #e1e6eb;
      --h3-color: hsl(205, 18%, 86%);
      --h4-color: #c8d1d8;
      --h5-color: hsl(205, 16%, 77%);
      --h6-color: #afbbc4;
      
      --muted-color: hsl(205, 10%, 50%);
      --muted-border-color: #1f2d38;

      --primary: #D4D4D4;
      --primary-hover: #A1A1A1;
      --primary-focus: #878787;

      --primary-inverse: #fff;

      --secondary: yellow
      --secondary-hover: hsl(205, 10%, 50%);
      --secondary-focus: rgba(115, 130, 140, 0.25);
      --secondary-inverse: #fff;

      --contrast: hsl(205, 20%, 94%);
      --contrast-hover: #fff;
      --contrast-focus: rgba(115, 130, 140, 0.25);
      --contrast-inverse: #000;
      --mark-background-color: #d1c284;
      --mark-color: #11191f;
      --ins-color: #388e3c;
      --del-color: #c62828;
      --blockquote-border-color: var(--muted-border-color);
      --blockquote-footer-color: var(--muted-color);
      --button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
      --button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
      --form-element-background-color: #11191f;
      --form-element-border-color: #374956;
      --form-element-color: var(--color);
      --form-element-placeholder-color: var(--muted-color);
      --form-element-active-background-color: var(--form-element-background-color);
      --form-element-active-border-color: var(--primary);
      --form-element-focus-color: var(--primary-focus);
      --form-element-disabled-background-color: hsl(205, 25%, 23%);
      --form-element-disabled-border-color: hsl(205, 20%, 32%);
      --form-element-disabled-opacity: 0.5;
      --form-element-invalid-border-color: #b71c1c;
      --form-element-invalid-active-border-color: #c62828;
      --form-element-invalid-focus-color: rgba(198, 40, 40, 0.25);
      --form-element-valid-border-color: #2e7d32;
      --form-element-valid-active-border-color: #388e3c;
      --form-element-valid-focus-color: rgba(56, 142, 60, 0.25);
      --switch-background-color: #374956;
      --switch-color: var(--primary-inverse);
      --switch-checked-background-color: var(--primary);
      --range-border-color: #24333e;
      --range-active-border-color: hsl(205, 25%, 23%);
      --range-thumb-border-color: var(--background-color);
      --range-thumb-color: var(--secondary);
      --range-thumb-hover-color: var(--secondary-hover);
      --range-thumb-active-color: var(--primary);
      --table-border-color: var(--muted-border-color);
      --table-row-stripped-background-color: rgba(115, 130, 140, 0.05);
      --code-background-color: #18232c;
      --code-color: var(--muted-color);
      --code-kbd-background-color: var(--contrast);
      --code-kbd-color: var(--contrast-inverse);
      --code-tag-color: hsl(330, 30%, 50%);
      --code-property-color: hsl(185, 30%, 50%);
      --code-value-color: hsl(40, 10%, 50%);
      --code-comment-color: #4d606d;
      --accordion-border-color: var(--muted-border-color);
      --accordion-active-summary-color: var(--primary);
      --accordion-close-summary-color: var(--color);
      --accordion-open-summary-color: var(--muted-color);
      --card-background-color: none;
      --card-border-color: none;
      --card-sectionning-background-color: none;
      --dropdown-background-color: hsl(205, 30%, 15%);
      --dropdown-border-color: #24333e;
      --dropdown-box-shadow: var(--card-box-shadow);
      --dropdown-color: var(--color);
      --dropdown-hover-background-color: rgba(36, 51, 62, 0.75);
      --modal-overlay-background-color: rgba(36, 51, 62, 0.8);
      --progress-background-color: #24333e;
      --progress-color: var(--primary);
      --loading-spinner-opacity: 0.5;
      --tooltip-background-color: var(--contrast);
      --tooltip-color: var(--contrast-inverse);
      color-scheme: dark;
    }
  }

  [data-theme=dark] {
    --background-color: #11191f;
    --color: hsl(205, 16%, 77%);
    --h1-color: hsl(205, 20%, 94%);
    --h2-color: #e1e6eb;
    --h3-color: hsl(205, 18%, 86%);
    --h4-color: #c8d1d8;
    --h5-color: hsl(205, 16%, 77%);
    --h6-color: #afbbc4;
    --muted-color: hsl(205, 10%, 50%);
    --muted-border-color: #1f2d38;
    --primary: hsl(195, 85%, 41%);
    --primary-hover: hsl(195, 80%, 50%);
    --primary-focus: rgba(16, 149, 193, 0.25);
    --primary-inverse: #fff;
    --secondary: hsl(205, 15%, 41%);
    --secondary-hover: hsl(205, 10%, 50%);
    --secondary-focus: rgba(115, 130, 140, 0.25);
    --secondary-inverse: #fff;
    --contrast: hsl(205, 20%, 94%);
    --contrast-hover: #fff;
    --contrast-focus: rgba(115, 130, 140, 0.25);
    --contrast-inverse: #000;
    --mark-background-color: #d1c284;
    --mark-color: #11191f;
    --ins-color: #388e3c;
    --del-color: #c62828;
    --blockquote-border-color: var(--muted-border-color);
    --blockquote-footer-color: var(--muted-color);
    --button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --form-element-background-color: #11191f;
    --form-element-border-color: #374956;
    --form-element-color: var(--color);
    --form-element-placeholder-color: var(--muted-color);
    --form-element-active-background-color: var(--form-element-background-color);
    --form-element-active-border-color: var(--primary);
    --form-element-focus-color: var(--primary-focus);
    --form-element-disabled-background-color: hsl(205, 25%, 23%);
    --form-element-disabled-border-color: hsl(205, 20%, 32%);
    --form-element-disabled-opacity: 0.5;
    --form-element-invalid-border-color: #b71c1c;
    --form-element-invalid-active-border-color: #c62828;
    --form-element-invalid-focus-color: rgba(198, 40, 40, 0.25);
    --form-element-valid-border-color: #2e7d32;
    --form-element-valid-active-border-color: #388e3c;
    --form-element-valid-focus-color: rgba(56, 142, 60, 0.25);
    --switch-background-color: #374956;
    --switch-color: var(--primary-inverse);
    --switch-checked-background-color: var(--primary);
    --range-border-color: #24333e;
    --range-active-border-color: hsl(205, 25%, 23%);
    --range-thumb-border-color: var(--background-color);
    --range-thumb-color: var(--secondary);
    --range-thumb-hover-color: var(--secondary-hover);
    --range-thumb-active-color: var(--primary);
    --table-border-color: var(--muted-border-color);
    --table-row-stripped-background-color: rgba(115, 130, 140, 0.05);
    --code-background-color: #18232c;
    --code-color: var(--muted-color);
    --code-kbd-background-color: var(--contrast);
    --code-kbd-color: var(--contrast-inverse);
    --code-tag-color: hsl(330, 30%, 50%);
    --code-property-color: hsl(185, 30%, 50%);
    --code-value-color: hsl(40, 10%, 50%);
    --code-comment-color: #4d606d;
    --accordion-border-color: var(--muted-border-color);
    --accordion-active-summary-color: var(--primary);
    --accordion-close-summary-color: var(--color);
    --accordion-open-summary-color: var(--muted-color);
    --card-background-color: #141e26;
    --card-border-color: var(--card-background-color);
    --card-sectionning-background-color: #18232c;
    --dropdown-background-color: hsl(205, 30%, 15%);
    --dropdown-border-color: #24333e;
    --dropdown-box-shadow: var(--card-box-shadow);
    --dropdown-color: var(--color);
    --dropdown-hover-background-color: rgba(36, 51, 62, 0.75);
    --modal-overlay-background-color: rgba(36, 51, 62, 0.8);
    --progress-background-color: #24333e;
    --progress-color: var(--primary);
    --loading-spinner-opacity: 0.5;
    --tooltip-background-color: var(--contrast);
    --tooltip-color: var(--contrast-inverse);
    color-scheme: dark;
  }
  
  progress,
  [type=checkbox],
  [type=radio],
  [type=range] {
    accent-color: var(--primary);
  }
  
  /*# sourceMappingURL=default.css.map */