.pit-post-page {
  box-shadow: none;
  background: none;
  padding: 0px;
  margin: 0px;

  h1 {
    margin: 0 0 var(--spacing-2) 0;
    font-size: 1.3rem;
  }

  h2 {
    margin: 0 0 var(--spacing-2) 0;
    font-size: 1.1rem;
  }

  &__subtitle {
    font-size: 1.3rem;
    line-height: 40px;
    color: #a1a1a1;
    font-weight: 300;
  }

  &__content {
    font-weight: 200;
  }
}

h1.pit-post-page__title {
  font-size: 2.2rem;
  letter-spacing: -0.011em;
  line-height: 50px;
  font-weight: 600;
  margin-bottom: var(--spacing-1);
}
